
/* CSS Resets - https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html{
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  }

html,
body {
  height: 100vh;
}

body{
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custome CSS variables */
:root{
    /* Color palette */
--background-color-primary: rgba(255, 255, 255, 0.98);
--background-color-secondary: rgba(255, 255, 255, 0.95);

--clr-text-primary: #030303;

--clr-neutral-100: rgb(249	249	249);
--clr-neutral-200: rgba(211, 211, 211, 1);
--clr-neutral-300: rgba(136, 136, 136, 0.4);
--clr-neutral-400: rgb(48, 48, 48);

--clr-accent-200: #d3d3d3;
--clr-accent-300: #aaa;
--clr-accent-400: rgba(144,144,144, 0.95);
--clr-accent-500: #065fd4;

/* Font family */
--ff-primary:'Roboto', sans-serif;

--ff-body:var(--ff-primary);
--ff-heading:var(--ff-primary);

/* Font Sizes */
    --fs-primary: 1rem;
    --fs-secondary: 0.750rem;
    --fs-accent: 0.0.625rem;

    /* Font-weights */
    --fw-light:300;
    --fw-regular: 400;
    --fw-bold:700;

}

/* General Styling */
body{
    background-color: var(--brand-background-primary);
    width:100%;
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: var(--fs-primary);
    padding: 0 1.5em;
}

/* Header and primary navigation*/
    /* Icons */
  .material-icons{
    color: var(--clr-neutral-400);
    cursor: pointer;
  } 

  /* Hover effects for Icons */
  .yt-icons[icon-description]{
    position:relative;
  }

  .yt-icons[icon-description]:hover::after,
  .yt-icons[icon-description]:focus::after {
  content: attr(icon-description);
  position: absolute;
  left: 0;
  top: 2.5em;
  border-radius: 2px;
  background-color: var(--clr-accent-400);
  padding: 0.6250em;
  color: var(--clr-neutral-100);
  font-size: var(--fs-secondary);
}

    /* Primary Navigation */
  .primary-nav{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.6250em;
}

.left-menu, 
.center-menu,
.right-menu{
  display: flex;
  align-items: center;
}

.left-menu{
  width: 10.5625rem;
  justify-content: space-evenly;
}
    /* Search menu */
.center-menu{
    width: 40.25rem;
    justify-content: center;
}

input[type=search]{
    width: 32.8125rem;
    height: 2.5rem;
    padding-left:1em;
    border: 1px solid var(--clr-accent-200);
    border-right:none;
    font-weight: var(--fw-light);
}

input[type=search]:hover,
input[type=search]:focus{
    padding-left:1.5em;
    border:1px solid var(--clr-accent-500);
    outline: none;
} 

.search-icons,
.search-icon,
.mic-icon{
    display: flex;
    align-items: center;   
}

.search-icons{
    padding-right: 1em;
}
.search-icon,
.mic-icon{
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
}

.search-icon{
    background-color: var(--clr-neutral-100);
    border: 1px solid var(--clr-accent-200);
}

.mic-icon{
    border-radius: 100%;
    margin-left: 1em;
    background-color: var(--clr-neutral-100);
}
   /* Right menu */
.right-menu{
    width: 9.75rem;
    height:2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Main Content styles */
.container{
    height: calc(100vh - 5rem);
    display:flex;
    overflow: hidden;
    padding:1em 0;
  }

    /* Sidebar styles */
.sidebar{
    width: 15em;
    overflow-y: scroll;
}

.sidebar-menus{
  display: flex;
  flex-direction: column;
}

.sidebar-menu{
  display: flex;
  align-items: center;
  padding: 0.625em;
}

.sidebar-menu span{
  margin-left: 1em;
}

.sidebar-menus .active{
  background-color: var(--clr-accent-200);
}

.sidebar-menus .active:hover{
  background-color: var(--clr-accent-300);
}

.sidebar-menu:hover{
  background-color: var(--clr-neutral-300)
}

.sidebar::-webkit-scrollbar{
  display: none;
}

hr{
  height:1px;
  background-color: var(--clr-neutral-200);
  border: none;
}

/* MAIN CONTENT STYLES */
.video-container{
  width:100%;
  background-color: var(--clr-neutral-100);
  border-top: 1px solid var(--clr-neutral-200);
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.video{
  width: 280px;
  margin-bottom: 1rem;
  transition: transform 0.5s ease 0.5s;
  font-size: var(--fs-secondary);
}

.video:hover{
  transform: scale(1.1);
  background-color: var(--brand-background-primary);
  box-shadow: 0 0 0.30em var(--clr-neutral-400);
  padding-bottom:1em;
  background-color: var(--background-color-primary);
}

.video-thumbnail{
  width: 100%;
}

.video-thumbnail img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.video-details{  
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.50rem;
  font-size: var(--fs-secondary);
}

.video-details:hover{
  padding-left: 0.50em;
}

.video-author img{
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem; 
  margin-right: 1rem;
}

.video-title {
  padding-top: 0.50em;
  margin-left: 0.25rem;
  display: flex;
  flex-direction: column;
}

.video-views{
  font-size: var(--fs-accent);
  color: var(--clr-neutral-400);
  padding-top: 0.5em;
}

@media (max-width: 1280px) {
  .center-menu{
    width: 400px;
  }

  input[type=search]{
    width: 350px;
  }

  .sidebar{
    width:4.375em;
  }

  .sidebar-menus{
    align-items: center;
  }

 .sidebar-menus span{
  display: none;
 }

}

@media (max-width: 790px){
  .video{
    width: 340px;
    justify-content: center;
  }

  /* Hide the sidebar at this point */
  .sidebar{
    display: none;
  }

  .center-menu{
    width:200px; 
  }

  input[type=search]{
    width: 180px;
  }
}

@media (max-width: 710px){
 .primary-nav{
  flex-direction: row;
  justify-content: flex-start;
  margin-left: auto;
 }

 .search-icon{
  border:none;
}

 /* To transfer the icons to the right */
  .menu-space{
    margin-left: auto;
 }

 /* Hide the search input */
  input[type=search]{
    display: none;
  }

  /* Full width for the video */
  .video{
    width: 100%;
  }

  .video-details{
    justify-content: left;
    padding-top:0.5em;
  }
}




